<h2>Your Bookmarks:</h2>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %><form action="/delete" method="post">
          <input type="hidden" name="id" value="<%= bookmark.id %>">
          <input id="delete <%= bookmark.title %>" type="submit" value="Delete">
        </form>
      </a>
    </li>
  <% end %>
</ul>

<div>

<a href="/add">Add a bookmark</a>


</div>
