<h2>Your Bookmarks:</h2>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>

<div>

<a href="/add">Add a bookmark</a>


</div>
